.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--side-bar-width) auto;
  grid-template-rows: var(--top-bar-height) auto;
}

.topBar {
  grid-column: span 2;
  width: 100%;
}

.sideBar {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-secondary);
}
