.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 16px 24px;
}

.arrow svg path {
  fill: var(--color-text-base);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.settingSection {
  display: flex;
  gap: 8px;
}
