.menuItem {
  width: 100%;
  height: 56px;
  display: flex;
  padding-left: 32px;
  gap: 16px;
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  text-decoration: none;
  color: var(--color-text-inverse);
}

.link:hover {
  text-decoration: underline;
}

.active {
  position: absolute;
  width: 4px;
  height: 56px;
  background-color: var(--color-surface-primary);
}
